[2016-11-04 06:41] nschonni opened #1 "The NPM install instructions are incorrect because the package name is parked"
The NPM package is currently parked with the NPM security holding package https://www.npmjs.com/package/axe-cli#security-holding-package

[2016-11-08 22:34] lbjones commented on #1
So in the meantime...  Is there a way that this code can be executed, or is this project unusable until then?

[2016-11-10 11:13] dylanb commented on #1
@WilcoFiers can you please check into why the npm package name has been captured?

[2016-11-23 19:52] marcysutton commented on #1
We have it, we just haven't pushed to it yet. Working on it now

[2016-11-23 20:36] marcysutton commented on #1
The way to run it pre-release if you have Selenium Webdriver installed is to execute the index file instead of the axe binary:

`node index.js www.someurl.com`

[2016-11-23 21:39] marcysutton opened #2 "Document how to change browsers in the README"
We should tell people how to change the browser run with the cli, such as `-b chrome`. Also good to mention that you should make sure to have the latest browser drivers.

[2016-11-23 21:58] marcysutton opened #3 "Determine what is causing the NoSuchSessionError in Firefox"
I get a Selenium NoSuchSessionError on every site I check with the default browser (Firefox) but @WilcoFiers doesn't. It isn't immediately obvious what is causing it as I have the latest geckodriver (1.11) and Selenium Webdriver 3.0.1.

I was able to trace it to the `driver.quit()` call in `axe-test-urls.js`. If I comment out that line, it does not throw the error. If I log the error, I get the re

[2016-11-23 22:04] marcysutton opened #4 "Discuss extending the script timeout for larger sites"
Chromedriver in particular has trouble testing larger sites with lots of issues, like cnn.com, without extending the driver script timeout. I'm sure folks will run into this a lot, so we should consider handling this case. I get this with Chromedriver 2.2.5.

[code]

[2016-11-24 22:05] dylanb commented on #4
Makes sense to extend it also makes sense to document how a caller can do this themselves.

[2016-12-22 20:39] marcysutton commented on #2
Fixed with https://github.com/dequelabs/axe-cli/commit/7a72edaf3ba8c24edbaa2344f167fde42de3c21a.

[2016-12-22 20:39] #2 closed

[2016-12-23 00:14] lynnco commented on #1
Heya! I appreciate ya'll working on this. I was thinking that it might save some people a few minutes of searching to add "Work In Progress" label to the readme? I can send a PR for that

[2016-12-23 17:56] marcysutton commented on #1
Thanks @lynnco but I already took care of it.

[2017-02-02 18:56] marcysutton commented on #1
This has now been published. Let us know if you run into any issues! https://www.npmjs.com/package/axe-cli/

[2017-02-02 18:56] #1 closed

[2017-02-07 21:48] afwaisbard opened #7 "Fix "Running specific rules" example"
The example for running specific rules used the an invalid rule "html-lang".
I changed it to "html-has-lang".

*note that when using a wrong rule id, user gets "0 violations found" and is unaware that the rule was not tested.

[2017-02-08 05:33] robdodson opened #8 "--dirname flag not working"
Very possible I'm holding `axe-cli` wrong but `axe https://cnn.com --dirname ./axe-results/` doesn't seem to save any results

[2017-02-13 20:27] chriscm2006 commented on #8
Looking at the code, it looks like the flag is --dir, not --dirname.

[2017-02-14 23:14] robdodson commented on #8
Good catch. I sent in a PR to update the readme

[2017-02-15 16:20] #8 closed

[2017-03-13 04:33] dylanb opened #10 "Security vulnerability through phantomjs-prebuilt"
`phantomjs-prebuilt->extract-zip->concat-stream`

https://snyk.io/vuln/npm:concat-stream:20160901

[2017-03-13 19:50] marcysutton commented on #7
Pretty sure this has been addressed. Thanks!

[2017-03-13 19:50] #7 closed

[2017-03-23 11:17] boyum opened #11 "Too low color contrast on URLs in CLI"
Even though they are just a links, it would be nice to actually see where they go. Neither `#0000ff` on `#000000` (tested url) nor `#00006e` on `#000000` passes WCAG AA.

![image](https://cloud.githubusercontent.com/assets/9085189/24245210/31717d16-0fc2-11e7-8af6-29e2a8ccc9ca.png)

Using Command Prompt on Win10, default settings.

[2017-03-25 14:12] WilcoFiers commented on #11
Right you are sir! I realised this when I was designing it. But look how pretty it is on mac ;)

![screenshot 2017-03-25 15 03 04](https://cloud.githubusercontent.com/assets/530687/24322864/574184c2-116c-11e7-8efc-095fa5076db0.png)

Seriously though, I'm glad you brought it up. I'm not sure I have a great solution. The thing is, people can set change the background color to whatever they want. Wha

[2017-03-25 20:20] boyum commented on #11
Thanks! Command Prompt forces me to copy the links to use them anyways, so as long as it's just the links being hard to read, I'll manage. The `--no-color` flag works great, but the colors help with readability, grouping the error messages.

Anyways, keep up the good work, it's a great tool!

[2017-03-28 18:39] marcysutton commented on #3
I found out more about this issue: it throws when you use the default of PhantomJS, but without the call to `config.driver.quit();` in lib/webdriver.js, axe-cli leaves stale browser instances open when the tests complete. Need to find a setup that preserves both drivers.

[2017-03-29 08:59] boyum opened #12 "Contrast-check returns false positives"
I haven't really looked into the maths at this one, but I suspect that this isn't correct.

I get this error:
![image](https://cloud.githubusercontent.com/assets/9085189/24446656/96137426-146e-11e7-9bf4-dbb2b2a5accc.png)

On this part of the page (specifically the dates):
![image](https://cloud.githubusercontent.com/assets/9085189/24446675/a1f28b24-146e-11e7-906d-86c980c241c1.png)

Having these co

[2017-03-29 18:01] dylanb commented on #12
Can you open an issue for this on the axe-core project please https://github.com/dequelabs/axe-core

[2017-03-29 19:18] marcysutton commented on #12
If you can reproduce it with axe-core, that is. If it's limited to axe-cli, we'll want to document it here. I mention that because I've seen differences in what gets returned by axe-cli depending on the driver (ex. PhantomJS or Chrome).

[2017-03-29 21:59] boyum commented on #12
The aXe Chrome extension does not find any violation on the same page. I will try using the npm package tomorrow, to see if that finds anything.

[2017-04-27 20:29] marcysutton commented on #12
@boyum did you ever run your code with axe-core to find out? I agree that axe-cli should report the contrast ratio and colors in the result–I was surprised to find it was super light on reporting.

[2017-04-27 21:26] boyum commented on #12
No, I never did, sorry. Will really try to remember this tomorrow, haha.

[2017-04-28 09:04] jaimeiniesta opened #15 "Output JSON without saving it as a file"
Currently axe-cli has the `--save` option to save the results to a file. This is great but it could also be helpful to have an option to directly output this JSON to `stdout`.

This can simplify integrating axe-cli in web services that take an URL to test, and return the JSON results - without needing to save to disk, read that file to return its contents and then removing the file.

This is what

[2017-04-28 09:17] WilcoFiers commented on #15
Sounds good. Do you have any suggestions? Maybe something like `--dump`?

On Fri, Apr 28, 2017 at 11:04 AM, Jaime Iniesta <notifications@github.com>
wrote:

--
*Wilco Fiers*
Senior Accessibility Engineer - Co-facilitator WCAG-ACT - Chair Auto-WCAG

[2017-04-28 09:39] jaimeiniesta commented on #15
How about `--format=json`?

[2017-04-28 12:08] jaimeiniesta commented on #15
...or maybe just `--dump`, as there are no plans to add other formats like XML or CSV I guess.

[2017-04-28 12:24] awebdeveloper opened #16 "Release a update with axe core 2.2"
Plz release an update with axe core 2.2

[2017-04-28 12:25] WilcoFiers commented on #15
Maybe we should use `--reporter`. Axe-core has a few different reporters you could use, that way you get those features too.

[2017-04-28 12:52] WilcoFiers commented on #16
axe-cli looks for whichever axe-core version you have installed. If you want to update your global version of axe-core you could run `npm update axe-core -g`. Let me know if that did the trick.

[2017-04-28 12:56] jaimeiniesta commented on #15
I've sent a PR so we can discuss over the code. By now we have a first working version that adds an option:

[code]

I went for this as `-d` is already used for `--dir`, and because it's more explicit about the format.

Now, the thing with `index.js` currently is that there are many `console.log` everywhere that need to be silenced in this case, so that we only produce JSON output.

I'll try to cl

[2017-05-01 22:14] #3 closed

[2017-05-01 22:14] #16 closed

[2017-05-02 07:25] boyum commented on #12
@marcysutton axe-core returns no violations, as it should.

[2017-05-02 13:11] dylanb commented on #12
closing due to no issue

[2017-05-02 16:38] marcysutton commented on #12
I think that means there is an issue with axe-cli–it was returning issues that axe-core wasn't.

[2017-05-02 22:26] marcysutton opened #19 "axe-cli hangs on websites with limited CSP"
Related to https://github.com/dequelabs/axe-webdriverjs/issues/35, axe-cli hangs on websites that have a limited Content Security Policy (CSP). Because axe-cli injects a script to make sure you're on the same page (similar to how we used to do it in axe-webdriverjs), it can suffer from the same-origin policy depending on how that site is implemented.

How to reproduce:
1. Update package.json to pu

[2017-05-02 22:30] marcysutton commented on #12
@boyum can you provide us with a test case so we can debug those issues? An HTML file would be ideal so we can isolate your contrast results with axe-cli.

[2017-05-03 10:35] boyum commented on #12
Unfortunately, I cannot seem to reproduce this error anymore, on the exact same page. I don't think it was, but it might very well have been a user error.

However, I might have discovered something else: Axe-cli run with Hyper (https://github.com/zeit/hyper) consequently returns 3 issues on http://orkide.preprod.acos.no, while Command Prompt and PowerShell returns only one issue. I'll file this a

[2017-05-03 10:35] #12 closed

[2017-05-09 02:29] tay1orjones opened #20 "Improved exit codes"
Currently the node process is not exited properly via [`process.exit()`](https://nodejs.org/api/process.html#process_process_exit_code).

My thinking is ideally:
 - When any test(s) fail, the node process should be exited with an exit code `1` - error.
 - When all tests pass, the node process should exit with exit code `0` - success.

There's probably some other cases that an error exit code would

[2017-05-09 08:50] WilcoFiers commented on #20
I think this is an excellent suggestion. If you've got the time, feel free to create a PR for this. If not I think we'll try to make this change ourselves in due time.

[2017-05-09 10:51] jaimeiniesta commented on #20
With this change, will we still be able to tell if `axe-cli` exited abnormally?

In our integration we use it like this:

[code]

Well, instead of running `cat` we send the saved JSON via POST to a callback url, but you get the idea: what we expect is that axe-cli runs the report, and saves the results in that JSON file, both for a page with A11Y issues, or without any A11Y issue found. In that ca

[2017-05-09 11:19] jaimeiniesta opened #21 "Configurable timeout"
Is there any way to set a specified timeout?

Like, "abort if axe-core has not finished in under 5,000 ms".

[2017-05-09 13:58] tay1orjones commented on #20
@jaimeiniesta IMO that's a substandard behavior, although your use case should still be supported.

I suggest adding an optional flag to disable the default behavior. So, If you wish to see a list of errors and not have the CLI exit, use the `-q` or `--no-exit` flag.

[2017-05-09 15:56] dylanb commented on #20
I am not sure this should be the default behavior - the idea behind `axe-cli` is that it can be run to generate a list of issues. If it runs successfully and is able to do this, then the behavior is as expected. Also, defaulting to this would preclude the ability to run multiple axe-cli commands one after the other.

So if you implement this, I would like to see it behind a flag like `axe-core --e

[2017-05-09 16:40] tay1orjones commented on #20
That makes sense. I'll take a stab at a PR today with failing a11y tests `exit(1)` behind a flag.

There are three other potential areas for failure:
1. No URL specified  ([:40](https://github.com/dequelabs/axe-cli/blob/master/index.js#L40))
2. Output to file fails ([:99](https://github.com/dequelabs/axe-cli/blob/master/index.js#L99))
3. Any other error surfaced at the end of the promise chain ([:

[2017-05-10 15:04] #11 closed

[2017-05-11 19:08] tay1orjones commented on #20
@dylanb PR Isssued 👍

[2017-05-12 08:29] #20 closed

[2017-05-18 17:00] aarontk opened #23 "Unable to use a specific axe-core with -a parameter"
The -a parameter doesn't work. I receive the following output:
PS C:\axe> axe -a \core\axe.js
path.js:7
    throw new TypeError('Path must be a string. Received ' + inspect(path));
    ^

TypeError: Path must be a string. Received true
    at assertPath (path.js:7:11)
    at Object.join (path.js:468:7)
    at Object.getAxeSource (C:\Users\aaron\AppData\Roaming\npm\node_modules\axe-cli\lib\utils.js

[2017-05-18 17:07] aarontk opened #24 "custom axe-core new rule not run"
I created a custom axe-core with a new rule to verify if there are any headings on the page. The run never seemed to run. To verify my axe-core was being used, I modified an existing rule and verified the modified rule was executed. I'm using a local webserver so I have access to the code. I added a script element with the src attribute pointing to my axe-core. I ran the axe cli again and this tim

[2017-05-18 17:11] marcysutton commented on #23
@WilcoFiers this isn't documented but it's in the source code, we should make sure it works (and is documented)

[2017-05-18 22:04] WilcoFiers commented on #24
This problem seems related to what you've already reported here:
https://github.com/dequelabs/axe-webdriverjs/issues/38

I'm closing this as a duplicate, and we'll continue on the other issue.

[2017-05-18 22:04] #24 closed

[2017-05-19 10:14] WilcoFiers commented on #23
Not sure how that happened. I don't think I ever intended to keep that code in, but it's there now, and not hard to build, so, there you go :D

https://github.com/dequelabs/axe-cli/pull/25/

[2017-06-01 04:44] dylanb opened #26 "Uninitialized memory vulnerability"
https://snyk.io/org/dylanb/project/4ffa1513-3a00-4e38-853b-509b1fbfe723?utm_campaign=weekly_report&utm_source=Project&fromGitHubAuth=true

[2017-07-17 08:55] #4 closed

[2017-07-19 10:26] WilcoFiers opened #30 "Add an option to render incomplete results in addition to violations"

[2017-08-03 16:46] Alabsec opened #31 "IEDriverServer Incompatibility"
I've gotten axe-cli 2.3.1 to work with Chrome (v60) using chromedriver and FireFox with geckodriver. The latest version of chromedriver, 2.9, throws errors due to an invalid command line argument (--ignore-certificate-errors); chromedriver 2.8 has no issues.

The main issue, however, is with IEDriverServer. I have tried multiple versions from 2.50 to the most recent, 3.4 (32 and 64 bit). AxE will

[2017-08-04 10:26] WilcoFiers commented on #31
We'll be sure to look into it. I appreciate the level of detail, that'll be very helpful. Thanks!

[2017-08-21 15:37] kensgists opened #33 "timer for waiting for page to fully load"
It looks like --timeout allows the user to set an automatic timeout for long pages, but is it possible to set a "wait" so that a page can complete loading of all resources before axe runs?

[2017-08-21 17:45] marcysutton commented on #21
Closed with #29.

[2017-08-21 17:45] #21 closed

[2017-08-22 13:38] WilcoFiers commented on #33
You are right. The timeout option lets you change how long webdriver will wait before deciding the page isn't going to load. But there is no option that lets you delay after loading. Axe-cli attempts to determine when the browser is done, which is does fairly well, but if things get pulled in after the load, there's no consistent way to determine that. We could possibly add a `-load-delay` option

[2017-08-28 04:42] kensgists commented on #33
Yes, a `--load-delay` option would be helpful for such cases. Thanks.

[2017-10-11 08:57] WilcoFiers opened #40 "Support running on file://"
axe-cli prepends http:// if it doesn't see http at the start of the URL. We should match this a little better so that we can run on other things like `file://` and `ftp(s)://`.

[2017-10-25 18:55] marcysutton commented on #23
This should be fixed with #25.

[2017-10-25 18:55] #23 closed

[2017-10-25 18:57] marcysutton commented on #15
@jaimeiniesta what's the status of this–were you going to add a PR?

[2017-10-25 18:58] marcysutton commented on #26
I don't have permissions to view that link @dylanb, can you elaborate here in the issue (or grant us access)?

[2017-10-26 09:44] jaimeiniesta commented on #15
@marcysutton I started with this and there's a PR https://github.com/dequelabs/axe-cli/pull/17

But later I abandoned the idea due to lack of time to do that properly, sorry. So it's OK to close this issue or someone else pick it.

[2017-10-26 13:01] WilcoFiers commented on #15
I think we can pick this issue up ourselves. I've been working on an update for axe-cli, to get rid of PhantomJS and to run axe 3.0.

[2017-10-31 11:42] marcysutton commented on #40
This would be super helpful!

[2017-11-03 11:07] JayKid opened #42 "Ignore specific rules"
Hi, first of all, thanks for the awesome tool(s)!

I am trying to integrate axe-cli in our dev flow, but given that we just introduce it now, we might not be able to fix all issues in the first runs. That would end up with our devs ignoring the output of the tool because they cannot act on the issues anyways.

This led me to look into filtering what rules run or not and I saw that you can specify

[2017-11-05 17:04] WilcoFiers commented on #42
Hi @JayKid I appreciate the thought. I'm a little hesitant though, as I'm not sure how reliable such a feature would be. In theory, you could deduplicate issues by checking if the new issue has the same HTML and target properties, but that's not especially reliable. Changes unrelated to the actual element can change how the target selector is created. That might not be the best experience. Matchin

[2017-11-09 15:16] jasonday opened #44 "[feature request] blacklist/whitelist selectors"
Use case: As part of continuous integration with react, the devs want a feedback loop on accessibility issues as part of development. However, when using axe it executes against the full rendered page and in some scenarios when that developer is working on a specific component, they want accessibility feedback for that component only.

Having the capability to whitelist or blacklist selectors, wou

[2017-11-09 16:01] JayKid commented on #42
Hi again @WilcoFiers!

I think we might not have understood each other but, anyways, I bring another potential solution that I think is cleaner :)

My new proposition is a combined effort in both `axe-cli` and `axe-webdriverjs` repos:

+ in `axe-webdriverjs`, I would add a method `disableRules` to the AxeBuilder in order to filter the complete list of rules (contained in the `runOnly` property) by

[2017-11-10 00:22] marcysutton commented on #44
axe-cli already has include and exclude, which is the same API you'd get in axe-core. Does that not work for you? https://github.com/dequelabs/axe-cli#defining-the-scope-of-a-test

[2017-11-10 00:27] jasonday commented on #44
@marcysutton - my apologies. Somehow the dev and I both missed that feature.

[2017-11-10 00:27] #44 closed

[2017-11-10 00:30] marcysutton commented on #40
This was fixed with #41

[2017-11-10 00:30] #40 closed

[2017-11-13 10:51] WilcoFiers commented on #42
Thanks for the clarification. That is indeed different from what I thought. So you want not just the ability to specify which rules run, but which don't run. Gotcha. That sounds alright to me. Feel free to create a PR for this. I don't have a good idea about what flag to use, so I'll leave that up to you.

[2017-12-18 10:43] AkshanshSrivastava03 opened #46 "'_a' is not recognized as an internal or external command, operable program or batch file."
I tried on a url which looked like this.
ex: http://mysite.com/home&_a=page1

I got hit for some accessibility issues but it also gave this error: <b> '_a' is not recognized as an internal or external command,
operable program or batch file.</b>

How are we supposed to test on pages within a website when the differentiator between the pages is in action (_a="") ?
Are we supposed to capture screens

[2017-12-18 10:54] AkshanshSrivastava03 commented on #46
There is one more kind of url i tried:

[2017-12-18 12:11] WilcoFiers commented on #46
@AkshanshSrivastava03 I'm not sure I understand every one of your questions, but I'm going to give it a try.

1. Your URL is failing because you didn't escape it. Some URL characters need to be escaped on the command line. If you're not sure, just wrap your URL in quotes: `axe "http://mysite.com/home&_a=page1"`

2. Axe-cli isn't designed to do accessibility monitoring, which is why it doesn't have

[2017-12-18 12:23] AkshanshSrivastava03 commented on #46
Hi @WilcoFiers , Thanks for the prompt response.
Can you give me some insights on these questions too:
1.) Can we capture screenshots so that I can rely on the axe that it is running on my rendered DOM and not on some waiting UI?
2.) How do I ensure that I can pass some wait time to these as I know I have a loading experience in my UI due to which axe might not be testing my UI.

[2017-12-19 06:57] AkshanshSrivastava03 commented on #33
Hi @WilcoFiers,
Is --load-delay option incorporated in axe-cli?

[2017-12-19 09:16] WilcoFiers commented on #46
Right now, this isn't possible with axe-cli. It seems to me you're looking for a little more control of your application. You may want to look into using [`axe-webdriverjs`](https://github.com/dequelabs/axe-webdriverjs) instead. That way you have programatic access to the page. This lets you set timeouts at any stage you want, and you can do programatic logins as well. If you use Chrome you can ta

[2017-12-19 09:18] WilcoFiers commented on #33
This isn't currently being worked on. We'd welcome a pull request to add this feature.

[2017-12-19 18:25] simi823 opened #47 "Unknown error when using chrome"
Trying to test a page using Chrome, and after Chrome opens the page it gives the following error:
Running axe-core 2.6.0 in chrome

Testing http://www.nj.com/news ... please wait, this may take a minute.

An error occurred while testing this page.
Please report the problem to: https://github.com/dequelabs/axe-cli/issues/

How can I find more information on the error to troubleshoot?

[2017-12-19 18:40] marcysutton commented on #47
It works for me, both from the develop branch and the distributed version. Can you try again?

[2017-12-19 19:47] simi823 commented on #47
yes, I tried it again... Had to upgrade the Chrome browser and chromedriver and it worked. Sorry to jump the gun and post this!

[2017-12-19 19:47] #47 closed

[2018-01-15 14:52] dylanb opened #48 "Content protected sites just hang"
Try to analyze this site https://www.dunkman.me

axe-cli just hangs and never completes, open the dev tools to see the error

[2018-02-05 13:06] WilcoFiers commented on #48
This is a duplicate of #19

[2018-02-05 13:06] #48 closed

[2018-02-05 13:35] dylanb commented on #19
Example site https://www.dunkman.me

[2018-02-05 14:11] WilcoFiers commented on #19
I did some searching today (also because I'm working on a related problem with Attest devtools). It looks like the only way to get around this is to disable CSP in user preferences. There are no dedicated flags available in Chrome of Firefox to turn it off, nor does webdriver fix this for us.
http://www.seleniumeasy.com/selenium-tutorials/firefox-profile-preferences-using-selenium-webdriver

Funny

[2018-02-05 15:37] dylanb commented on #19
@WilcoFiers I think we could get around this by switching to puppeteer

I asked @stephenmathieson to look into this as part of what he is going to be working on

[2018-02-05 15:40] WilcoFiers commented on #19
I thought that only worked for Chrome, no?

[2018-02-05 21:37] stephenmathieson commented on #19
Yes, Puppeteer is designed to work with Chrome. It could technically work with anything that implements the [DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/), but I don't know of a browser other than Chrome that does this.

I'll be spending some time thinking about this and experimenting with potential solutions to this issue over the next few days.

[2018-03-18 08:56] #42 closed

[2018-03-19 09:03] #33 closed

[2018-03-19 12:03] JayKid commented on #10
Isn't this no longer relevant since https://github.com/dequelabs/axe-cli/commit/1ae8e12030bd2fc2ffa1c7663e62b59c692b4f54 ?

[2018-03-19 12:26] #10 closed

[2018-03-19 14:00] JayKid commented on #33
Sorry @WilcoFiers , I forgot to add docs for it.. so I created a small (1-commit) PR for it 🙈 :

https://github.com/dequelabs/axe-cli/pull/54

[2018-03-19 14:59] WilcoFiers commented on #33
Yikes! Can't believe I missed that :/ Glad you spotted it.

[2018-03-22 10:46] AkshanshSrivastava03 commented on #46
@WilcoFiers I saw load-delay functionality got added. When can we expect to receive the updated package with the load-delay functionality?

[2018-03-22 18:38] WilcoFiers commented on #46
We're rolling out a major update at the moment. There will be an update to axe-cli early next week at the latest.

[2018-03-28 12:47] kensgists commented on #33
Hi @WilcoFiers and @JayKid, has this landed in prod yet?

Also (perhaps another feature request) would there be a way to, in addition to an set delay, have axe-cli wait on the rendering of an element?

[2018-03-29 07:42] WilcoFiers commented on #33
@kensgists We released axe-cli 3.0 yesterday :)

[2018-03-29 07:45] WilcoFiers commented on #46
Done :)

[2018-03-29 07:45] #46 closed

[2018-03-29 10:03] AkshanshSrivastava03 opened #55 "axe cmd not working post update"
I am getting this error post update for each URL I am trying.

axe "https://www.google.com"
Running axe-core 2.6.0 in chrome-headless
[0329/153226.884:ERROR:instance.cc(49)] Unable to locate service manifest for metrics
[0329/153226.885:ERROR:service_manager.cc(890)] Failed to resolve service name: metrics

DevTools listening on ws://127.0.0.1:12748/devtools/browser/22deb4b5-1dcb-4e41-ab06-db02d59

[2018-03-29 10:42] WilcoFiers commented on #55
Runs fine for me... What version are you using, and also what platform? Is it just headless Chrome or are all browsers affected?

[2018-03-30 11:07] rianrietveld opened #56 "Is it possible to pass the urls through a list in an input file?"
I'm currently investigating integrating axe-cli into CI processes, however, there is not a fixed list of URLs which can be passed to the command line in the current use case.

I could write a script to generate a list of URLs to check, but would need to pass that list in one way or another to the cli command line.

So I was wondering if it is possible to pass the path to a text or json file contai

[2018-03-30 11:16] rianrietveld opened #57 "Questions about the exit code"
I understand that using `-q` I can force axe-cli to generate an exit code which would allow me to fail a CI build based on the results of a scan.

Now there are a couple of questions I have about this.
1. How is the exit code determined. Will any notice generate the `1` exit code? Or is it only violations ? What effect do "to review" notices have on the exit code ?
    Is it possible to, for insta

[2018-03-30 11:56] rianrietveld commented on #56
Just thinking: being able to use a `sitemap.xml` file would make life even easier as an additional option ;-)

[2018-03-30 18:19] WilcoFiers commented on #56
I like the idea of using `sitemap.xml`. It seems a little niche, so I don't think we'd develop that, but I would be in favour of supporting it if someone was to supply a PR for it.

As for alternative methods, it's pretty easy to write a script to put URLs into a command. You could do something like this with NodeJS:

[code]

If you're running many URLs you should probably run them one at a time t

[2018-04-04 06:08] AkshanshSrivastava03 commented on #55
I am using the latest version available on npm (3.0.0) on Windows 10. I found this issue - https://github.com/GoogleChrome/puppeteer/issues/1610 which looks like the issue I am facing.

[2018-04-04 11:01] WilcoFiers commented on #55
Ok, tried this with Windows 10 with Node 8.9 and still aren't able to reproduce the issue. Can you make sure your browser, driver and nodejs are up to date, and than provide us with steps to reproduce the issue?

[2018-04-09 06:58] AkshanshSrivastava03 commented on #55
Repro steps:
1.) Install axe-cli
2.) Install chrome driver (latest)
3.) Set chrome driver exe to PATH
4.) Run axe www.google.com

Running axe-core 2.6.0 in chrome-headless
[0409/122529.245:ERROR:gpu_process_transport_factory.cc(1019)] Lost UI shared context.

DevTools listening on ws://127.0.0.1:12468/devtools/browser/2af59bca-f64f-4e34-9c9c-fa4d78ef9340
C:\Users\aksriv\AppData\Roaming\npm\node_mo

[2018-04-09 07:01] AkshanshSrivastava03 commented on #55
Also, I tried using chrome browser directly but got no luck with that too. Chrome opens up but it crashes. What am I doing wrong here?
Also, How can I just use the phantom.js instead of chrome as I remember it used to work correctly for phantom

[2018-04-10 09:15] WilcoFiers commented on #55
I'm not sure... I've followed those steps on a Win 10 machine and I'm not seeing any issues. What jumps out at me from your stack is the following:

It looks like something is breaking when trying to connect to Selenium. That's not something axe-cli has much of anything to do with, so I don't think this is something that we can resolve. You can try running using Firefox, see if that makes a differ

[2018-04-10 11:39] WilcoFiers commented on #57
`-q` or `--exit` will result in an exitcode 1 if there are any violations. Not for review items (`results.incomplete`). There is currently no way to do that. Nor is there a standard way to modify the default ruleset. What you could do is amend the axe.js file with your custom configuration. So you'd add an `axe.configure(...)` call at the end of the axe.js file, which contains any modifications yo

[2018-04-10 11:39] #57 closed

[2018-04-11 06:54] rianrietveld commented on #57
@WilcoFiers thanks for the info :-)

[2018-04-16 19:14] masi opened #60 "cannot set path and executable to the browser"
On Windows I tried to use axe-cli with a PortableApps.com version. For such a case seting up PATH won't be enough as the binary is called GoogleChromePortable.exe. So I need to set the full path (or path and filename).

Ok, this is probably rare, but I guess passing the path to axe-cli as a parameter is a nice thing to have.

Masi

PS: Pointers so I can try my luck adding this feature for myself a

[2018-04-16 21:27] WilcoFiers commented on #60
You'll probably need to make a change to `lib/webdriver.js`, pass it in as an argument to `startDriver()`. Not sure how to have it load a browser on a different path, but I'm sure if you dig deep enough into the Selenium docs you'll find it there. Be sure not to limit this to just Chrome though. If we add such a feature it should work for other browsers.

[2018-04-18 20:00] sephuink09 commented on #56
Any chance you could update the markdown file to reflect that, @WilcoFiers ?

This is the part I got hung up on, trying to pass a string of 99 website urls =]

`axe www.deque.com, dequeuniversity.com`

Luckily I stumbled upon this issue.

[2018-06-20 05:47] kyleoliveiro opened #64 "Test exits with error code 1 if no --include selectors are found"
IMO, a warning message should be displayed instead, letting the user know that no selectors were found.

[2018-06-22 00:02] wagoodman opened #65 "Allow inclusion of user selected webdriver arguments"
Currently there isn't a way to pass webdriver arguments to augment capabilities. To change these capabilities you have to edit this line https://github.com/dequelabs/axe-cli/blob/develop/lib/webdriver.js#L23 to include the arguments (which requires opening the source code for axe-cli, which is not desirable).

For example, if I wanted to use the `--no-sandbox --disable-setuid-sandbox --disable-dev

[2018-06-27 17:37] jaimeiniesta opened #66 "Working on OSX, but not working on dockerized linux"
I have a project with these dependencied:

[code]

If I run `npm install` from my dev machine (OSX High Sierra), I can successfully run `./node_modules/axe-cli/axe-cli http://example.com`, it runs fine with chrome-headless.

But then if I delete the `node_modules` folder and I enter into a Docker container, I run `npm install`, it goes fine and gets the linux binary for chromedriver, but when I ru

[2018-06-27 17:40] jaimeiniesta commented on #66
It looks like I can run chromedriver when installed in OSX:

[code]

But I can't run it when installed in the Docker container:

[code]

[2018-06-27 17:45] jaimeiniesta commented on #66
When tried in AWS Lambda, the error is different

[code]

[2018-06-27 17:52] jaimeiniesta commented on #66
How can I specify the location of the chromedriver binary? I've tried adding `/var/task/node_modules/chromedriver/lib/chromedriver` (where `/var/task` is the root of my script) but it makes no difference.

[2018-07-01 11:31] WilcoFiers commented on #66
The error message comes from Chromedriver not being able to locate Chrome. As far as I can tell Chrome isn't installed in a place Chromedriver expects it - what exactly that is for the machine you're running it on I couldn't tell, but I think that if you add Chrome to PATH as well it should work.

I'm closing this as it isn't an Axe-cli issue though.

[2018-07-01 11:31] #66 closed

[2018-07-09 11:57] jaimeiniesta commented on #66
Thanks, it looks like it's `selenium-webdriver` who can't find the Chrome executable. We're discussing it here if you're interested https://github.com/adieuadieu/serverless-chrome/issues/143

[2018-10-01 16:04] unleashalicia commented on #30
I would also like to see this.  Is this already supported and just not documented?

[2018-10-28 02:02] benjiallen opened #75 "Issue with --include and --exclude. Lists entries need string delimiters"
Running version 3.0.0 on MacOS 10.2.6 using iTerm

I tried running the example for `--include` and `--exclude` flags and I received an error.

`> axe www.deque.com --include #main --exclude #aside`
`error: option -e, --exclude <list>' argument missing`

The only way I could get the example working is by making the selectors strings.

`axe www.deque.com --include '#main' --exclude '#aside'`

I assu

[2018-10-31 02:00] mgifford opened #76 "Bringing results to developers"
Is there a way to provide a pass/fail result rather than the whole JSON issue.

I'd like to be able to just crawl my site and not have to hit all of the URLs in the string:
axe --dir --tags wcag2a ./axe-results/ openconcept.ca, openconcept.ca/blog, openconcept.ca, https://openconcept.ca/contact

But I would like to know what specific pages are problematic. I don't want to have to crawl through the

[2019-01-19 16:14] kevinchugh opened #78 "can you login to a site?"
Is there a way to specify authentication elements, and programmatically login for testing?

[2019-01-30 14:58] stephenmathieson commented on #78
Not with the CLI, no. Instead, we suggest you use [`axe-webdriverjs`](https://github.com/dequelabs/axe-webdriverjs) or [`axe-puppeteer`](https://github.com/dequelabs/axe-puppeteer) to get more fine-grained control over the site you're testing.

[2019-01-30 14:58] #78 closed

[2019-01-30 15:10] stephenmathieson commented on #26
Unable to access the provided URL (see below screenshot).

<img width="1166" alt="snyk screenshot - access error" src="https://user-images.githubusercontent.com/571265/51990480-1c899e80-2477-11e9-87b1-b4fe43a72053.png">

Closing due to inactivity and inability to reproduce.

[2019-01-30 15:10] #26 closed

[2019-01-30 15:13] stephenmathieson commented on #55
Any updates here? @AkshanshSrivastava03 are you still seeing this error?

[2019-01-30 15:24] stephenmathieson commented on #76
Something like this should solve the problem you're seeing:

**axe-tests.sh**
[code]

We use the `--exit` flag to signal to `axe-cli` we want to exit with a non-zero code if errors are found. Additionally we send the `axe-cli` output to `/dev/null` in to not output everything to STDIO.

[2019-01-30 16:45] stephenmathieson commented on #64
This is a bit tricky, since the raised error is actually a timeout. I'm looking into ways to expose the selector issue instead, but am not sure what to do at this moment. 😞

[2019-01-30 17:36] stephenmathieson commented on #30
This now happens by default. Not sure when this changed, but this issue is no longer relevant.

[2019-01-30 17:36] #30 closed

[2019-01-30 17:54] stephenmathieson commented on #60
@masi is this still relevant?

[2019-01-30 18:05] stephenmathieson commented on #76
With the addition of the `--stdout` flag as proposed in #83, you should be able to opt-into writing results to STDOUT and processing them yourself with [`jq`](https://stedolan.github.io/jq/) (or any other command-line JSON processing tool).

[2019-01-30 20:03] simi823 opened #84 "Running axe on Amazon Linux not finding Chrome"
Hello -- I've been trying to upgrade to the new version of axe-cli but installing it on Amazon Linux does not seem to find the chrome driver. I have tried various things to install headless chrome to no avail.

This is the error I get:
`bash-4.2# axe https://www.nj.com
Running axe-core 3.1.2 in chrome-headless
/root/.nvm/versions/node/v6.11.5/lib/node_modules/axe-cli/node_modules/selenium-webdrive

[2019-01-31 14:15] stephenmathieson commented on #84
Running Chrome/axe on AWS is tricky.

I haven't had luck with `axe-cli`, but suggest [`axe-puppeteer`](https://github.com/dequelabs/axe-puppeteer) instead. This also gives us the benefit of being able to script "actions" before/after running an accessibility analysis.

As far as Chrome, it's generally expected that you "bring your own" (especially in a lambda environment). For this, I use [`chrome

[2019-01-31 14:15] #75 closed

[2019-01-31 14:21] simi823 commented on #84
Hi Stephen,

Thank you for the quick reply. I will try out your options and hopefully I will have some luck.

Thanks,
--simi

From: Stephen Mathieson <notifications@github.com>
Reply-To: dequelabs/axe-cli <reply@reply.github.com>
Date: Thursday, January 31, 2019 at 9:15 AM
To: dequelabs/axe-cli <axe-cli@noreply.github.com>
Cc: Simi Asaro <sasaro@advancelocal.com>, Author <author@noreply.github.com

[2019-01-31 14:51] #65 closed

[2019-01-31 16:04] simi823 commented on #84
I've tried it on Ubuntu as well, but I keep getting this error:

root@1c99a09bbfbe:~# axe https://www.nj.com
Running axe-core 3.1.2 in chrome-headless
/usr/local/lib/node_modules/axe-cli/node_modules/selenium-webdriver/lib/promise.js:2626
        throw error;
        ^

WebDriverError: unknown error: Chrome failed to start: exited abnormally
  (unknown error: DevToolsActivePort file doesn't exist)

[2019-01-31 20:39] #15 closed

[2019-02-03 20:10] mgifford commented on #76
That didn't work, but this almost did:
`#!/bin/bash

for url in openconcept.ca openconcept.ca/blog openconcept.ca openconcept.ca/contact; do
  if ! axe --exit $url > /dev/null; then
    echo "Accessibility issues detected in $url"
    exit 1
  fi
done`

But I'm still getting an error when running:

$ ./axe-tests.sh --stdout
axe-webdriverjs deprecated Error must be handled as the first argument of

[2019-02-04 13:17] stephenmathieson commented on #76
If you update axe-cli and axe-webdriverjs, that error will go away. If you follow the error, you'll see that some old axe-webdriverjs behavior was depreciated.

[2019-02-04 14:43] mgifford commented on #76
I'm still getting the same error:

Mikes-MacBook-Pro-2:~ mikegifford$ npm-check --update
❤️  Your modules look amazing. Keep up the great work. ❤️
Mikes-MacBook-Pro-2:~ mikegifford$ npm update axe-cli
Mikes-MacBook-Pro-2:~ mikegifford$ npm update axe-webdriverjs
Mikes-MacBook-Pro-2:~ mikegifford$ ./axe-tests.sh --stdout
axe-webdriverjs deprecated Error must be handled as the first argument of axe.

[2019-02-04 15:57] stephenmathieson commented on #76
Ah, you're right, we're not auto-publishing this package on every commit. We'll need #27 to be published before the deprecation warning goes away on its own.

FWIW you can safely ignore the error for now, or turn it off following [the instructions provided in the `depd` pacakge](https://www.npmjs.com/package/depd#processenvno_deprecation).

[2019-02-05 13:11] mgifford commented on #76
I'm not sure what I'm getting wrong here, but I still can't get it to do a report on more than one URL.

[2019-02-05 13:14] stephenmathieson commented on #76
The program is exiting if it finds accessibility issues. Remove `exit 1` from the above bash script if you don't want it to exit.

[2019-02-05 13:57] mgifford commented on #76
Right...  that makes total sense..

Now to improve the script you might actually want to actually echo the number of detected errors and pull out the string $error string "5 Accessibility issues detected" and then spit out:
 echo $error . " in $url"

But that's beyond what I can awk at the moment.

[2019-02-20 16:15] SteveALee opened #85 "Crash when running"
1st time I try the cli I get boom on exit.
I do get good results 1st though so low priority. Just looks messy.

This looks like a problem in npx cleanup - doesn axe-cli or the chromedriver do anyhting odd on exit?

`
npx axe-cli https://southwestcommunities.co.uk
`

[code]

[2019-02-20 16:55] SteveALee commented on #85
Ok, so that is indeed the problem - shame

`npx --package axe-cli axe https://southwestcommunities.co.uk`

causes no error.

I'll close as I doubt you'll concider changing the command to match the package (I understand the reason)

[2019-02-20 16:55] #85 closed

[2019-02-21 09:30] SteveALee opened #86 "Various erros on windows"
1.
[code]

The JQMIGRATE only occurs sometimes

2) I findthe comma to separate multple errors must be followed by a space orelse get spurious warnings. The usage output (--help) is not showing this option

3) if you redirect stdout to a file (eg with `>out.txt`) all the terminal escapes for colour are output - I'm not sure but I do not expect these not to be output to non TTY. The certainly makes

[2019-02-21 09:42] SteveALee commented on #86
FYI a hacky fix t 3 was to fire up WSL and run. Not ideal :(

`cat /mnt/c/Users/steve/out.txt | perl -pe 's/\e\[?.*?[\@-~]//g' > /mnt/c/Users/steve/out-notty.txt`

[2019-02-21 15:20] jaimeiniesta opened #87 "JSON output including non-JSON"
I've been trying the new option to output results as JSON directly to `stdout` and it works great but I've found that in some cases some extra warnings are also output, which can lead to problems in parsing JSON, for example:

[code]

I've tried this but it doesn't help, these warnings still appear in `stdout`:

[code]

[2019-03-06 01:09] stephenmathieson commented on #87
Good catch! IIRC that log is coming from `axe-webdriverjs`, so we'll have to update it. I think the simplest fix would be to log the error to stderr (where errors belong).

I'll see if I can get to this in the next day or so.

[2019-03-06 01:12] #60 closed

[2019-03-06 01:13] stephenmathieson commented on #55
Closing due to inactivity

[2019-03-06 01:13] #55 closed

[2019-03-11 16:32] stephenmathieson commented on #87
This has been fixed in `axe-webdriverjs`. All we should need to do now is update the dependency and push a new version here.

[2019-03-22 15:08] #87 closed

[2019-03-26 17:49] jcmcneal opened #91 "Latest version"
Hey I noticed this repo is updated with recent changes but they haven't been published. Any time frame on when that'll happen?

[2019-04-05 05:32] #91 closed

[2019-04-05 14:17] calumryan opened #92 "Cannot read property 'run' of undefined"
Trying to figure out if this issue is due to something in my script or a markup issue?

`$ axe calumryan.com`

`axe-webdriverjs deprecated Error must be handled as the first argument of axe.analyze. See: #83 ../../usr/local/lib/node_modules/axe-cli/lib/axe-test-urls.js:85:8
/usr/local/lib/node_modules/axe-cli/node_modules/selenium-webdriver/lib/promise.js:2626
        throw error;
        ^
Javasc

[2019-04-05 14:52] jkodu opened #93 "Output axe-core 3.2 new metadata in axe-cli"
Axe-core added environment metadata to the results, see - https://github.com/dequelabs/axe-core/pull/1353

Axe-cli needs to enhance its output to showcase the same metadata.

[2019-04-17 16:23] jkodu commented on #93
Duplicate - https://github.com/dequelabs/attest-issues/issues/6

[2019-04-17 16:23] #93 closed

[2019-04-24 06:06] GWillmann opened #95 "Checkstyle format support"
Hi,

In order to be able to automatically parse the results of your wonderful cli in CI such as Jenkins, we would need a output file in Checkstyle format.

Do you guys think it could be possible?

Thanks for your help.

[2019-05-21 14:05] beep opened #96 "Exiting prematurely if `--tags wcag21aa` is present?"
This feels like it’s probably user error, but I’m unable to return any test results when `--tags wcag21aa` is present:

[code]

If I omit the flag, then things run as expected:

[code]

Is this a known issue? And/or am I doing something wrong? (I’m guessing it’s the latter 😅)

[2019-05-23 19:12] simi823 opened #97 "Windows Webdriver unknown error"
Trying to run a webpage with axe gives me a Webdriver unknown error on Windows.

Attached please find the error.
![Screen Shot 2019-05-23 at 3 07 15 PM](https://user-images.githubusercontent.com/1770022/58279736-2eb48300-7d6d-11e9-855a-2ffb166c7fa6.png)
Above is using a python package that runa the axe command with other selections

![Screen Shot 2019-05-23 at 3 11 14 PM](https://user-images.githu

[2019-05-23 19:23] simi823 commented on #97
Well, I reinstalled chromedriver:
npm install -g chromedriver
and it looks like it's working.... Weird!!!

[2019-05-23 19:23] #97 closed

[2019-06-03 21:32] kylegrover opened #98 "unknown option `--stdout'"
Hi, I installed axe-cli today (3.0.0 on Mac, using Homebrew) and I'm trying to configure it to pass json to jq before saving. When I run this command:

I get `error: unknown option '--stdout'`.

[2019-07-03 15:56] straker commented on #98
Thanks for letting us know. The npm release is a year old and the `--stdout` option was added afterwards. We'll work on creating a new release soon so it's available.

[2019-07-03 16:07] straker commented on #96
The `--tags` option only runs axe-core rules that have the matching tag. Currently axe-core only has [2 wcag21aa rules](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md): `autocomplete-valid` and `css-orientation-lock`. Experimental rules aren't run by default, so only the `autocomplete-valid` rule is run, which passes.

[2019-07-03 16:10] #96 closed

[2019-07-03 16:14] straker commented on #95
Unfortunately we don't have any plans to convert the output to different formats. You might be able to do something similar to https://github.com/foiseworth/flow-json-to-checkstyle-xml to convert the JSON results into Checkstyle format.

[2019-07-03 16:14] #95 closed

[2019-07-03 16:17] straker commented on #92
Interesting. I ran the command as you posted and didn't get an error (could be due to a redesign of the site). Are you still seeing this error?

[2019-07-03 16:29] straker commented on #92
Nm. Found a related issue with a solution https://github.com/dequelabs/axe-cli/issues/76#issuecomment-460246385. We'll be creating a release soon so this issue should be fixed by a new release.

[2019-07-03 16:29] #92 closed

[2019-07-08 19:51] beep commented on #96
Ah, got it. Thanks very much for the context, @straker.

[2019-07-17 17:38] straker commented on #98
Release created. `--stdout` option should now be available in v3.1.0

[2019-08-01 12:00] dannyprok opened #103 "axe-cli chromedriver module dependency overrides local installation of chromedriver"
My local Chrome version recently upgraded to version 76, which broke execution of axe-cli with the below error as the chromedriver module version referenced in the dependencies of  the project 2.46.0.

[code]

I'm on MacOS and I have version 76 of chromedriver installed and referenced on my PATH, however it seems the dependency referenced within the axe-cli project takes precedence over this insta

[2019-08-10 05:28] viljamis commented on #103
Having the exact same issue, but on our CI server causing the build to fail.

@dannyprok How did you manually update the version?

[2019-08-12 17:48] simi823 commented on #103
I am having the same issue and I cannot downgrade to 75 or earlier on Windows. I removed chrome and npm installed chromedriver 75, but I get this error:  "WebDriverError: unknown error: cannot find Chrome binary". And I can only install the most recent Chrome of 76....
Any ideas on how to fix this? Thank you....

[2019-08-14 14:18] simi823 commented on #103
Windows Server:
[code]
Google Chrome installed version: `Version 76.0.3809.100 (Official Build) (64-bit)`

When I try axe-cli with this command:
`PS C:\Users\Administrator\tada> axe https://www.silive.com
Running axe-core 3.3.1 in chrome-headless

DevTools listening on ws://127.0.0.1:59620/devtools/browser/d62ce83c-fedc-4011-87f4-f59e6efa5cc2
C:\Users\Administrator\AppData\Roaming\npm\node_modules

[2019-08-14 14:47] straker commented on #103
Thanks for all the helpful info. We've been hit with this chromedriver problem as well and are working to fix it. I'll try to keep everyone updated as we get closer to a solution.

[2019-08-14 14:47] #98 closed

[2019-08-14 14:52] straker commented on #76
Closing as it seems the issue was resolved. Please reopen if that is not the case.

[2019-08-14 14:52] #76 closed

[2019-08-16 08:45] bolonio opened #104 "Axe only works with Chrome version must be between 71 and 75"
When running axe in the terminal, I got the error:

`SessionNotCreatedError: session not created: Chrome version must be between 71 and 75`

Could you please upgrade the version of Chrome supported?

Thanks :)

[2019-08-16 18:38] marcinkrzeminski commented on #104
Hey @bolonio

Having the same issue.

What I did to quickly fix it on my local.

1. Clone the repo
2. Open `package.json` and update the `chromedriver` dependency to match your needs. In my case  `"chromedriver": "^76",` works just fine.
3. `yarn install`
4. `npm link`

After those steps I was able to run axe from the cli.

Hope that helps ;).

[2019-08-19 08:45] dannyprok commented on #103
@simi823 @viljamis
Apologies for not responding sooner.  The way I set about resolving the above issue was to run the following command from within the axe-cli npm installation directory.  For me:

From my home directory I cd to:
`.nvm/versions/node/v10.12.0/lib/node_modules/axe-cli/`

and then ran:
`npm install chromedriver@76.0.0 --save-dev`

Hope this helps.

[2019-08-19 22:12] straker commented on #103
I've updated the chromedriver version and will create a release afterwards. We'll try to get enable a dependency management plugin on this repo so it will help us keep the chromedriver versions up-to-date. What that means though is that we should work with the latest chromedriver but if you need to work with prior versions you'll need a prior version of the library that uses the desired chromedriv

[2019-08-20 07:27] thedrow commented on #104
That's a workaround but not a fix.
Can we please fix it?

[2019-08-20 07:28] thedrow commented on #84
Use webdriver-manager.

[2019-08-20 07:33] bolonio commented on #104
Hi @marcinkrzeminski,

Thanks for the answer, but as @thedrow mentioned, that's definitely a workaround. I think this should be fixed (supported) by the core team.

Thanks anyway :)

[2019-08-20 15:27] WilcoFiers opened #107 "Publishing notes shouldn't be in the readme"
This section:
https://github.com/dequelabs/axe-cli/blob/develop/README.md#publishing

Should go into contribute, not in the readme. Otherwise it'll end up on the NPM page.

[2019-08-20 16:04] #107 closed

[2019-08-21 14:51] straker commented on #104
Closed via #105

[2019-08-21 14:51] #104 closed

[2019-08-21 15:12] thedrow commented on #104
Can we please release a new version?

[2019-08-21 15:19] straker commented on #104
Version 3.1.1. was released

[2019-08-21 15:49] straker commented on #103
Release 3.1.1 includes the chromedriver version update.

[2019-09-10 23:21] samueleishion commented on #103
@straker I've tested with version 3.1.1 and i'm still getting the same issue. Any thoughts?

![Screen Shot 2019-09-10 at 6 17 36 PM](https://user-images.githubusercontent.com/4401818/64657058-4cc6f180-d3f7-11e9-96ac-0767db17df68.png)

[2019-09-11 20:02] samueleishion commented on #103
@straker I'm in the process of updating the dependencies for [gulp-axe-cli](https://github.com/samueleishion/gulp-axe-cli) (same as your link). Locally i'm running `axe-cli@3.1.1` with `chromedriver@76.0.1` as shown on the screenshot above.

[2019-09-11 20:25] straker commented on #103
Ha. Sorry, didn't even notice you were the maintainer :)

So I tried your branch on a new install and I'm not seeing the same problem.

![image](https://user-images.githubusercontent.com/2433219/64732301-f5309080-d49f-11e9-830d-ce98754e5ab0.png)

[2019-09-16 15:59] straker commented on #103
How very strange. I'll do some digging and see what can be done.

[2019-09-16 16:35] straker commented on #103
Would anyone be opposed to the idea of adding a `chromedriver-path` option to the library? The flag would let you specify the path to your version of chromedriver and axe-cli would use that instead of the one it installed? This would let you use any chromedriver version without needing to change the internal installed version.

[code]

[2019-09-16 16:39] simi823 commented on #103
As long as I don't have to change the current way it calls chromedriver if I don't use the options, I think it's a great addition to the tool. Thanks.

[2019-09-16 16:40] straker commented on #103
Yes, the default would be to use the installed version provided by axe-cli, which when #119 is merged would always be the latest version of chromedriver.

[2019-09-16 19:49] samueleishion commented on #103
@straker nice! I wouldn't be against it. Similar to @simi823 I'd like to use the installed version from `axe-cli` by default, as you've also pointed out. Just to clarify, this would make the one in the project's `./node_modules/chromedriver` the default version, correct?

[2019-09-17 14:14] martincomito commented on #96
Wich rules and tags runs by default if I don´t use the --tag flag?

[2019-09-17 20:14] straker commented on #103
Yep, so long as npm resolves it that way.

[2019-09-17 20:19] straker commented on #96
All [rules without the experimental tag](https://github.com/dequelabs/axe-core/blob/develop/doc/rule-descriptions.md) will be run.

[2019-09-17 20:28] martincomito commented on #96
Thanks a lot @straker !

[2019-09-24 13:59] martincomito opened #124 "config from a js file"
I´m trying to load the config from an external file to get the --tags and some others flags:

_package.json:_
`"axeconfig": "node axe/index.js"`
`"accessibility:local": "axe npm run axeconfig -- http://localhost:3000"`

`axe/index.js` is a js file that returns a string like `"--timeout=120 --save testlog.json --tags (a list of tags)"` . I just want to concatenate this string to the script and run

[2019-09-24 15:23] stephenmathieson commented on #103
Can we close this now that #123 landed?

[2019-09-24 15:53] straker commented on #124
Odd. If you have it `console.log()` instead of `return` it should take the output of the file and use it as parameters.

[code]

[code]

[code]

[2019-09-24 16:14] martincomito commented on #124
[code]
[code]

[code]

I just realize that if I run `axe $(node axe/index.js)` in the console the tests works fine, but if I run it trough `npm run accessibility:test` it gives me the above problem. I don´t know what is the problem.

[2019-11-05 22:02] halburgiss opened #129 "Installation Fails Ubuntu"
On Ubuntu 16.04:

The logs do not have anything more informative. The permissions on /usr/local/lib/node_modules are fine, 755. None of the folder structure is created.

The only thing I can find is a broken symlink:

Thanks.

[2019-11-06 22:10] straker commented on #129
I'm not sure why chromedriver is unable to install on Ubuntu. Looking at chromedriver issues, someone did mention that it didn't work on 32-bit systems https://github.com/giggio/node-chromedriver/issues/147.

[2019-11-07 14:43] halburgiss commented on #129
Thanks. This is on a 64bit system. I have a previously installed version of chromedrive in /usr/local/bin that I was using with Selenium. Any chance there is a conflict of some kind?

[2019-11-07 20:25] straker commented on #129
Hard to say. Chromedriver is a fickle beast and has caused us tons of headaches. There's an option you can try to point it to the already installed version that might work https://github.com/dequelabs/axe-cli#chromedriver-path.

[2019-11-08 14:26] halburgiss commented on #129
My immediate problem is when the install blows up, the filesystem is restored to the way it was, or maybe just nothing is ever created. The /usr/local/lib/node_modules/axe-cli/ directory does not exist. I've tried creating that manually, thinking maybe it will remain, but no, it's removed. Let me try manually installing and see where that gets me.

[2019-11-08 20:40] halburgiss commented on #129
Installing manually and then running npm install, seems to work just fine on a quick test. Is there any downside to that? Thx.

[2019-11-11 16:09] umsteada11y opened #130 "Chromedriver crashing, possibly wrong Chrome version?"
I installed axe-core using npm (global), but when I try to run axe from the Windows 10 command line, I get the following error:
{...path omitted}\axe-cli\node_modules\selenium-webdriver\lib\promise.js:2626

SessionNotCreatedError: session not created: This version of ChromeDriver only supports Chrome version 78

[2019-11-11 16:11] #130 closed

[2019-11-11 16:12] umsteada11y commented on #130
Thought I had a newer Chrome version than I did. Updated Chrome. Works fine now. :)

[2019-11-11 16:56] halburgiss commented on #129
This is working well enough, except when the npm global option is included. Not sure why, but otherwise we are good. Thx

[2019-11-12 16:27] straker commented on #129
Glad it's working out. Ok if we close?

[2019-11-12 16:31] halburgiss commented on #129
Yes, please close!

[2019-11-12 16:36] #129 closed

[2019-11-20 14:13] giuliastro commented on #84
Same error on Ubuntu even trying with webdriver-manager too.

[2019-11-21 14:43] stephenmathieson opened #133 "Drop Node v6/v7 support"
According to [Node's release documentation](https://nodejs.org/en/about/releases/), v6/v7 are no longer supported.

To fix, change this to https://github.com/dequelabs/axe-cli/blob/develop/package.json#L6-L8 ">=8".

[2019-12-03 15:30] straker commented on #84
Thanks to @michael-siek, we think it might be related to this issue: https://github.com/SeleniumHQ/selenium/issues/4961#issuecomment-346821657. A few comments suggest adding `--no-sandbox` when we start chromedriver will fix the problem. I'll go ahead and make a pr to do so and hopefully it will fix this issue.

[2019-12-04 15:40] straker commented on #84
Scratch that, we already have a way you can do this without a pr. You can use the [--chrome-options]https://github.com/dequelabs/axe-cli#custom-chrome-flags) flag to add `--no-sandbox`. That should hopefully fix it for you.

[code]

CC: @simi823 @giuliastro

[2019-12-04 15:50] stephenmathieson commented on #19
Has this been resolved?

[2020-01-22 16:03] jeankaplansky commented on #133
no user-facing rule help required.

[2020-02-12 09:44] padmavemulapati commented on #133
No more less than v8 seeing for Node now. Using `node -v`  /  ` v8.9.4`

[2020-02-12 09:44] #133 closed

[2020-03-18 17:38] sw-yx opened #141 "Custom Chrome Flags docs leads to a blogpost that no longer loads"
[On the docs](https://github.com/dequelabs/axe-cli/#custom-chrome-flags) we link to an external site: https://peter.sh/experiments/chromium-command-line-switches/ for  flags to configure how the browser functions

but it currently looks like this:

![image](https://user-images.githubusercontent.com/6764957/76989968-956ae480-691d-11ea-9b92-f47312868a23.png)

if anyone has a list of these flags, I s

[2020-03-18 20:09] straker commented on #141
Odd, it currently loads for me in latest Chrome:

![image](https://user-images.githubusercontent.com/2433219/77002959-11ffc200-6922-11ea-82be-258ac0e29678.png)

[2020-03-25 21:55] sw-yx commented on #141
i see it too now. seems temporary. :shrug:

[2020-03-25 21:55] #141 closed

[2020-04-28 01:50] dbjorge opened #142 "License info inconsistent between package.json vs LICENSE"
The `LICENSE` file at the root of the repo suggests that the project is MPL-2.0 licensed, but `package.json` lists "ISC" as the license. The two should be consistent, but I didn't send a PR for the change because I wasn't sure which way you wanted to resolve the issue. The project was presumably intended to be MPL-2.0, but it's unclear to me whether you'd want to treat updating package.json as a m

[2020-05-06 12:35] devandqatools opened #143 "How to validate the after login URL by using axe-cli"
Hi Team,

Could you please suggest me how to validate the URL after login pages. When i'am validating the after login page by using axe-cli i am getting only 1 issue but when i am validating chrome AXE code extension i'am getting more the 20 valid issues. Now Could you please suggest the way for OATH.

![image](https://user-images.githubusercontent.com/43774814/81177257-fcbf1f80-8fc3-11ea-87b3-862

[2020-05-06 15:07] straker commented on #143
Axe-cli cannot test pages behind logins. I would guess that the discrepancy in errors is due to testing a login page (usually caused by a redirect when not authenticated) rather than the page you wanted.

[2020-05-07 05:22] kittuhaveid commented on #143
Hi Straker,

Thanks for quick response. is they any alternative way to test authenticated pages??

Regards,
Krishna Reddy.

[2020-05-07 15:03] straker commented on #143
Unfortunately not fro the cli. Your best bet is to use the browser extension on those type of pages.

[2020-05-07 17:20] straker commented on #143
Our paid versions of the Axe suite do allow scanning behind logins. My colleague Kyle would be happy to discuss your specific use case if you'd like to learn more! You can reach him via email at: kyle.hartman@deque.com

[2020-06-01 16:13] straker commented on #142
Thanks for letting us know. I got confirmation on which license we should have and updated the package.json file accordinly.

[2020-06-01 16:13] #142 closed

[2020-08-11 19:40] robfentress opened #149 "--chrome-options flag doesn't work"
Attempting to use you example of how to use the --chrome-options flag results in a WebDriverError.  Here is the command and the output:
[code]

[2020-08-11 20:00] straker commented on #149
Thanks for the issue. We'll look into it.

[2020-08-18 15:54] plcj opened #150 "Question: Is it possible to disable tags?"
Just a question here and I didn't find the answer by searching, or in this repo's issues.

Through some combination of existing options, can I disable tags? Something along this lines of `axe http://www.deque.com --disable best-practice` (I know that command doesn't work).

I see I can specify tags to run using `--tags`, and rules not to run using `--disable`, but I don't see how to disable tags.

[2020-09-02 13:33] robfentress commented on #149
Interestingly, it appears to work when you are running the command from the actual repository.  So, if I clone axe-cli and run `node index.js --chrome-options="no-sandbox,disable-setuid-sandbox,disable-dev-shm-usage" www.deque.com`, then it works.  However, if I install axe-cli as a global package using `npm install -g axe-cli` and try to run `axe --chrome-options="no-sandbox,disable-setuid-sandbo

[2020-09-02 14:41] robfentress commented on #149
After some investigation, I think the issue seems to be that lib/webdriver.js is different in the GitHub repository than in the package you install with node.  In the node package, on line 23 it has the following:
[code]

In the version in the GitHub repository, on line 23 it instead has the following:
[code]

Basically, the node package version isn't using the spread operator.  Without it, an arr

[2020-09-14 22:20] plcj commented on #150
Worked around this by maintaining a wrapper with a list of tags that I want in scope by default

[2021-01-13 17:59] BeratBulbul commented on #92
anladıysam siksiner